<div class="container-fluid">
    <div id="Home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p>Con nosotros la relajación esta asegurada</p>
            <h1>Masajes Relief</h1>
            <p>Somos una agencia de masajes que busca brindar la mayor calidad y la mayor sensacion de alivio en cuanto a masajes, por eso contamos con el mejor equipo de msajistas y estamos  en constante actualizacion en lo que refiere a tecnicas y practicas.</p>
        </div>
    </div>
    <div class="row">  
        <div id="Novedades" class="row scroll_section">
            <div class="col-md-5 offset-lg-2 my-3">
                <h2>Novedades</h2>
                <ul class="lista-novedades">
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#Nov1"><img src="img/Nov1.png">Agenda abierta
                            Octubre 2024</a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#Nov2"><img src="img/Nov2.png">Nuevos
                            locales</a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#Nov3"><img src="
                                img/Nov3.png">Nuevos masajistas</a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#Nov4"><img src="img/Nov4.png">Abrimos
                            nuestra tienda de productos</a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#Nov5"><img src="img/Nov5.png">No
                            te pierdas las promos para mamá</a></li>
                </ul>
                <div class="modal fade" id="Nov1" tabindex="-1" aria-labelledby="examplemodalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="examplemodalLabel">Turnos libres Octubre</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>No te quedes sin tus masajes en este mes de Octubre</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="Nov2" tabindex="-1" aria-labelledby="examplemodalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="examplemodalLabel">Conoce nuestros nuevos locales</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Estamos llegando cada vez mas cerca tuyo</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="Nov3" tabindex="-1" aria-labelledby="examplemodalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="examplemodalLabel">Mas manos, mas relajación</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Somos una familia cada vez mas grande, conocenos!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="Nov4" tabindex="-1" aria-labelledby="examplemodalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="examplemodalLabel">Del local a tu casa</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Ahora podes tener el spa en tu casa, con nuestros productos ahorras tiempo</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="Nov5" tabindex="-1" aria-labelledby="examplemodalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="examplemodalLabel">Promos para mamá</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Agradecele su esfuerzo de la mejor manera</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-3">

                <div class="rounded py-5 reseñas scroll_section">
                    <h2 class="text-center">Reseñas</h2>
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="Reseña">
                                    <h5>Definitivamente voy a volver!</h5>
                                    <p> Franchesca, San Isidro</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="Reseña">
                                    <h5>Caminando en una nube me fui</h5>
                                    <p>Graciela, Escobar</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="Reseña">
                                    <h5>Encantado con el trato y con los especialistas.</h5>
                                    <p>Ramiro, Gral. Pacheco</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="Historia" class="row align-items-center py-4 scroll_section">
        <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="/img/amigas.png" alt="fundadoras" class="img-fluid">
        </div>
        <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <img src="/img/salon.png" alt="Salon" class="img-fluid">
        </div>
        <div class="col-12 d-sm-none">
            <img src="" alt="" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h2>Historia</h2>
            <p>En 2019, nos surge la idea de poner nuestro propio salon de masajes, una idea que pensamos que
                quedaria solo en un sueño y hoy luego de 5 años de arduo trabajo se podria decir que ya no es mas un
                sueño, es una realidad, en la cual tenemos ya mas de 3 locales con un staff increible de
                especialistas, y poco a poco va creciendo cada vez mas esta familia hermosa </p>
        </div>
    </div>
</div>
<div id="Nosotros" class="row align-items-stretch my-3 staff py-4 scroll_section">
    <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="/img/santino.png" class="card-img-top" alt="Santino">
                    <div class="card-body">
                        <h5 class="card-tittle">Santino Flores</h5>
                        <p> Con 28 años es un espacialista en cuanto a masajes descontracturantes, esta en constante aprendizaje de tecnicas relajantes.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/img/Sandro.png" class="card-img-top" alt="Sandro">
                    <div class="card-body">
                        <h5 class="card-tittle">Sandro Aguirre</h5>
                        <p>Es un masajista muy versatil, sus metodos toman un poco de cada especialidad y lo combina creando sesiones super relajantes y gratificantes.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/img/Tamara.png" class="card-img-top" alt="Tamara">
                    <div class="card-body">
                        <h5 class="card-tittle">Tamara Perez</h5>
                        <p>Especializada en el masaje con tecnica asiatica logra generar un ambiente super calmado en donde logras hasta llegar al morfeo.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/img/Monica.png" class="card-img-top" alt="Monica">
                    <div class="card-body">
                        <h5 class="card-tittle">Monica Benitez</h5>
                        <p> Con años en el rubro, logra con sesiones de 30 minutos deshacer años de contractura y de dolores.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div id="Conocenos" class="row py-4 scroll_section">
        <div class="col-md-4 offset-md-2">
            <h2>Visitanos en nuestro local principal</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.7941619111784!2d-58.54543002495053!3d-34.48274565111829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb0129e145ffd%3A0x6736054deb39f905!2s3%20de%20Febrero%202345%2C%20B1642%20FHS%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1728656723294!5m2!1ses-419!2sar"></iframe>
        </div>
        <div class="col-md-4 mt-4 mt-sm-0">
            <h2>Contactanos</h2>
            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="..." name="nombre">
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="..." name="apellido">
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
                </div>
                <div class="col-12">
                    <label for="tel" class="form-label">Tel</label>
                    <input type="text" class="form-control" id="tel" placeholder="..." name="telefono">
                </div>
                <div class="col-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
            {{message}}
 
        </div>

    </div>





</div>